#toDoList_Main {
    width          : 1100px;
    height         : 600px;
    border         : 1px solid;
    margin         : 10px auto;
    flex-direction : row;
    padding        : 5px;

}

#input {
    width  : 300px;
    height : 35px;

}




